 #company_body {
   position: absolute;
     font-size: 1.2em;
     width: 100%;
     height: 1600px;
     font-family: inherit;
     background-color: pink;
     /*    background: url("../image/back.jpg") no-repeat; */
 }


 img {
     position: absolute;
     width: 100%;
     height: 50px;
 }

 nav {
     position: absolute;
     width: 100%;
     height: 900px;
     margin-top: 0px;
     /*background-color: yellow;*/
 }
